<h1 class="list_title">New Reading List</h1>
  <div class="form">
  <%= form_for @list do |f| %>

    <%= f.label :title%>
    <%= f.text_field :title, :required => true %>

    <%= f.hidden_field :user_id, :value => @current_user.id %>

    <%= f.submit %>

  <% end %>
</div>
