<h1>Add Author</h1>

<div class="form">
  <%= form_for @author do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>

    <%= f.label :dob %>
    <%= f.text_field :dob %>

    <%= f.label :nationality %>
    <%= f.text_field :nationality %>

    <%= f.label :image %>
    <%= f.url_field :image, :value => 'https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS8gEdi05qbeHM4jMg-CyG9RzDSFFWau_3aTQ&usqp=CAU' %>

    <%= f.submit %>

  <% end %>
</div>
