<h1><%= @author.name %></h1>

<div class="box">
  <%= image_tag @author.image, :class => 'feature' if @author.image.present? %>
  <ul class="blurb">
    <li>Date of birth: <%= @author.dob if @author.dob.present? %></li>
    <li>Nationality: <%= @author.nationality %></li>
    <li></li>
  </ul>
</div>


<div class="controls bottom">
  <%= link_to 'Edit', edit_author_path(@author.id) %>
  <% if @current_user.present? %>
    <% if @current_user.admin?%>
      |
      <%= link_to 'Delete', @author, :method => 'delete'%>
    <% end %>
  <% end %>
</div>


<div class="box" id="catalogue">
  <% @author.books.each do |book| %>
    <%= link_to image_tag(book.image, :class => 'thumb'), book %>
  <% end %>
</div>
